<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pr_idi.mydatabaseexample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Videoclub"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity">
        </activity>

        <activity
            android:name=".MenuPrincipal"
            android:label="Llistat de pel·lícules"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Cerca"
            android:label="Llistat de pel·lícules" />
        <activity
            android:name=".Help"
            android:label="Help" />
        <activity
            android:name=".About"
            android:label="About">
        </activity>
    </application>

</manifest>